[Unit]
Description=Nano Test Network Daemon
After=network.target

[Service]
Type=simple
User=nanobitcoin
WorkingDirectory=/var/nanobitcoin/NanobitcoinTest
ExecStart=/usr/bin/nanobitcoin_node --daemon --network=test --data_path=/var/nanobitcoin/NanobitcoinTest
Restart=on-failure

[Install]
WantedBy=multi-user.target
